/*TRANSFORMACIONES*/
/*
ROTATE:
transform: rotate(45deg) ~Rota sobre el eje Z
transform: rotateX(45deg) ~Rota sobre el eje X
transform: rotateY(45deg) ~Rota sobre el eje Y
transform: rotateZ(45deg) ~Rota sobre el eje Z
transform: rotate3d(1, 0, 0, 60deg) ~Rota sobre el eje X (porque tiene el 1)

TRANSLATE:
transform: translate (x,y)
transform: translateX (100px)
transform: translateY (-100px)

SKEW:
transform: skew(x,y)
transform: skew(40deg) -Solo para X
transform: skew(30deg,15deg)

SCALE:
transform: scale(x,y)
transform: scale(2,.5)
transform: scale(1.5)

TRANSFORM-ORIGIN:
es el punto de origen de la transformacion, osea desde donde comienza
EL VALOR POR DEFECTO ES: transform-orgin: 50%, 50%;
transform-origin: x,y;
transform-origin: 0%, 50%;
transform-origin: top | right | bottom | left;
transform-origin: left top;

*/
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  border: 1px solid red;
}
.pelota{
  transition: 5s;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
}
.pelota.a{
  background-color: red;
  left: 0;
}
.pelota.b{
  background-color: blue;
  right: 0;
}

.container:hover .pelota.a{
  left: calc(50% - 200px);
  transform: rotate(720deg) skew(40deg,20deg);
  /*transform: translateY(100px);*/
  /*left: 50%;*/
}
.container:hover .pelota.b{
  right: calc(50% - 200px);
  transform: rotate(-720deg) scale(1, 4);
  /*transform-origin: bottom;*/
  /*right: 50%;*/
  /*transform: translateY(-100px);*/
}
